/* MY TEMPLATE */
/* CSS Reset */
* {
	/* Outline to view layout on screen while styling | Remove after styling */
	/* outline: 1px dashed #ff0075; */
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

a {
	text-decoration: none;
}

/* declaring variables for colors */
:root {
	--dark-violet: #52006a;
	--black: #000;
	--dark-yellow: #ffa900;
	--crimson: #cd113b;
	--dark-pink: #cc667c;
	--nickel: #b9bab8;
}

/* mobile-first default styles */
/* max-width 425px (26.5625em) */
/* basic styles */
body {
	font-family: "Montserrat Alternates", sans-serif;
	background-color: var(--dark-violet);
	color: var(--black);
}
/* main */
.main-highway {
	background: var(--dark-yellow);
	padding: 3% 0;
}
/* image .gif */
.image-gif img {
	border-radius: 0.25em;
	padding: 0.25em;
	background: linear-gradient(to left, var(--crimson), var(--dark-violet));
}
.image-gif {
	margin: 0.5em;
	text-align: center;
}
.image-gif img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* header song title */
.song-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(
		to right,
		var(--dark-yellow) 0%,
		var(--dark-pink) 8%,
		var(--dark-violet) 100%
	);
}
.song-title h1 a {
	font-size: 1.3rem;
	font-family: "Monoton", cursive;
	color: var(--black);
}
.song-title p {
	padding-bottom: 0.25em;
}
.song-title .link:hover {
	color: var(--crimson);
}
.song-title h1 a i {
	color: var(--dark-pink);
	padding: 0.25em;
}
.song-title h1 a i:hover {
	color: var(--black);
}
/* body of song */
.lyrics {
	margin: 1em 3%;
}
.lyrics p {
	padding: 1em;
	font-size: 0.95rem;
}
/* footer */
.credits {
	font-size: 0.75rem;
	margin: 1em 3%;
}
.credits p {
	padding: 0.25em 0;
}
/* back to top button */
#top-button {
	display: none;
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 2;
	font-size: 1.15rem;
	border: none;
	outline: none;
	background-color: var(--dark-violet);
	cursor: pointer;
	padding: 0.5em;
	border-radius: 5px;
}
#top-button i {
	color: var(--dark-yellow);
}
#top-button i:hover {
	color: var(--black);
	background-color: var(--nickel);
}

/* tablet styles */
/* min-width: 48em (768px) */
@media (min-width: 48em) {
	/* image .gif */
	.image-gif {
		margin-bottom: 1em;
		margin-right: 12.5%;
		margin-left: 12.5%;
	}
	/* header song title */
	.song-title h1 a {
		font-size: 2rem;
	}
	.song-title p {
		font-size: 1.5rem;
		padding-bottom: 0.25em;
	}
	/* body of song */
	.lyrics {
		margin: 0.5em 17%;
	}
	.lyrics p {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	/* footer */
	.credits {
		margin: 0.5em 17%;
		font-size: 0.85rem;
	}
	/* back to top button */
	#top-button {
		font-size: 1.3rem;
	}
}

/* laptop styles to desktop */
/* min-width: 64em (1024px) */
@media (min-width: 64em) {
	/* basic styles */
	body {
		width: 100%;
		max-width: 64em;
		margin: 0 auto;
	}
	/* image .gif */
	.image-gif {
		margin: 1.25em 20%;
	}
	/* header song title */
	.song-title h1 a {
		font-size: 2.25rem;
	}
	.song-title p {
		font-size: 1.5rem;
	}
	/* body of song */
	.lyrics {
		margin: 1.25em 25%;
	}
	.lyrics p {
		font-size: 1.1rem;
		padding: 1em 0.5em;
	}
	/* footer */
	.credits {
		margin: 1.25em 25%;
	}
	/* back to top button */
	#top-button {
		font-size: 2rem;
	}
}
